<div class="orders_container mt-4">
  <div *ngFor="let order of orders" class="row order_item">
    <div class="col-sm-6">
      <order-list-item [order]="order">
      </order-list-item>
    </div>
    <div class="col-sm-6 button_container">
      <button class="btn btn-primary" (click)="changeStatus(order)" *ngIf="statusChangeable(order)">
        {{getNewStatusDisplayValue(order.status)}}
      </button>
      <button class="btn btn-primary" (click)="blockUser(order)">{{getBlockButtonName(order.blocked)}}</button>
    </div>
  </div>
  <mat-paginator [length]="total"
                 [pageSize]="limit"
                 [pageSizeOptions]="[limit]"
                 (page)="changePage($event)">
  </mat-paginator>
</div>
